// Here you can add other styles

//////////////////////////////////////////////////////////
@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/_mixins.scss";
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
// VARIABLES //
//////////////////////////////////////////////////////////
$navy:    #1A2F5A !default;
$linkblue: #3395ff !default;

$theme-colors: (
  primary: $navy,
  secondary: $linkblue
);


//////////////////////////////////////////////////////////
// HEADER NAVIGATION //
//////////////////////////////////////////////////////////

@media (min-width: 992px) {
  header {
   .app-header {
     border-bottom: 0px;
     height: 70px;
   }
 }
  .header-fixed {
    .app-body {
     margin-top: 70px;
   }
  }
 }

//////////////////////////////////////////////////////////
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//////////////////////////////////////////////////////////
